Page by <b>{{ page.author.penName }}</b><br />
<span class="pull-right">
Score: {{ page.upvotes - page.downvotes }}
<button ng-hide="!user" class="btn" value ="+1">+1</button>
<button ng-hide="!user" class="btn" value ="-1">-1</button>
</span>

<p class="hero-unit">{{ page.body }}</p>
<button class="btn-info">This style is terrible.</button>
<button class="btn-info">But that's intentional.</button>
<button class="btn-info">Open the door on the left.</button>
<button class="btn-success">Create a new option on this page.</button>